<!DOCTYPE html>
<html lang="ko"
	  layout:decorate="~{layout/default_layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom CSS -->
	<link
			href="/assets/libs/select2/dist/css/select2.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/select2/dist/css/select2.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/jquery-minicolors/jquery.minicolors.css"
			rel="stylesheet"
			th:href="@{/assets/libs/jquery-minicolors/jquery.minicolors.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/quill/dist/quill.snow.css"
			rel="stylesheet"
			th:href="@{/assets/libs/quill/dist/quill.snow.css}"
			type="text/css"
	/>
	<style>
		.form-group.required .control-label:after { content:"*";color:red; }
	</style>
	<!-- This Page JS -->
	<script href="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"
			th:src="@{/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
	<script href="/dist/js/pages/mask/mask.init.js" th:src="@{/dist/js/pages/mask/mask.init.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.full.min.js"
			th:src="@{/assets/libs/select2/dist/js/select2.full.min.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.min.js"
			th:src="@{/assets/libs/select2/dist/js/select2.min.js}"></script>
	<script href="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"
			th:src="@{/assets/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
	<script href="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"
			th:src="@{/assets/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
	<script href="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"
			th:src="@{/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
	<script href="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"
			th:src="@{/assets/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
	<script href="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
			th:src="@{/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script href="/assets/libs/quill/dist/quill.min.js" th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>

	<script href="/assets/libs/jquery-validation/dist/jquery.validate.min.js"
			th:src="@{/assets/libs/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script href="/assets/libs/jquery-validation/dist/additional-methods.js"
			th:src="@{/assets/libs/jquery-validation/dist/additional-methods.js}"></script>

	<script href="/js/jquery-common.js" th:src="@{/js/jquery-common.js}"></script>
	<script href="/dext5editor/js/dext5editor.js"
			th:src="@{/dext5editor/js/dext5editor.js}"></script>
	<script th:inline="javascript">
		$(function () {
			$("#datepicker-autoclose").datepicker({
				format:'yyyy-mm-dd',
				language: 'kr',
				autoclose: true,
				todayHighlight: true,
			});

			$(".select2").select2();

			$("#input_file").on("change", fileCheck);
			$("#moinput_file").on("change", mofileCheck);
			$("#mvinput_file").on("change", mvfileCheck);

			//좌측 메뉴 활성화
			$(".sidebar-link").each(function(){
				if($(this).attr("href").indexOf("mainvisualList") > 0){
					$(this).addClass("active");
					$(this).closest('li').addClass("active");
					$(this).closest('li').closest('ul').addClass("in");
					$(this).closest('li').closest('ul').prev().addClass("active");
					$(this).closest('li').closest('ul').closest('li').addClass('selected');
					return false;
				}
			});

			$("input[type=radio][name=type]").change(function(){
				var cvalue = $("input[name='type']:checked").val();
				if(cvalue == 'I' || cvalue == ''){
					$("#pcImgFile").show();
					$("#moImgFile").show();
					//$("#mvFileSelect").hide();
					$("#mvFileInfo").hide();
					//$("#mvFileUrlInfo").hide();
					$("#mvFileCheck").val('');
					mvcontent_files = [];
					$('#mvarticlefileChange').html('');
					$("#videosUrl").val('');

					$("input[type=radio][name=videosWay]").prop('checked', false);
				}else if(cvalue == 'M'){
					$("#pcImgFile").hide();
					$("#moImgFile").hide();
					//$("#mvFileSelect").show();
					$("#mvFileInfo").show();
					$("#pcImgCheck").val('');
					content_files = [];
					$('#articlefileChange').html('');
					$("#moImgCheck").val('');
					mocontent_files = [];
					$('#moarticlefileChange').html('');

					//첫번째거 강제선택
					// $("input[type=radio][name=videosWay][value=URL]").prop('checked', true);
					// $("input[type=radio][name=videosWay]").trigger('change');

				}
			});

			$("input[type=radio][name=type]").trigger('change');

			// $("input[type=radio][name=videosWay]").change(function(){
			// 	var cvalue = $("input[name='videosWay']:checked").val();
			// 	if(cvalue == 'URL'){
			// 		//$("#mvFileUrlInfo").show();
			// 		$("#mvFileInfo").hide();
			//
			// 		mvcontent_files = [];
			// 		$('#mvarticlefileChange').html('');
			//
			// 	}else if(cvalue == 'UPLOAD'){
			// 		//$("#mvFileUrlInfo").hide();
			// 		$("#mvFileInfo").show();
			//
			// 		$("#videosUrl").val('');
			// 	}
			// });

			//$("input[type=radio][name=videosWay]").trigger('change');

			$('#title').keyup(function (e){
				var content = $(this).val();
				$('#counter').html("("+content.length+" / 최대 100자)");    //글자수 실시간 카운팅
				if (content.length > 100){
					//alert("최대 100자까지 입력 가능합니다.");
					//$(this).val(content.substring(0, 100));
					$('#counter').html("(100 / 최대 100자)");
				}
			});

			$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅

			$('#topSubTxt').keyup(function (e){
				var content = $(this).val();
				$('#tcounter').html("("+content.length+" / 최대 60자)");    //글자수 실시간 카운팅
				if (content.length > 60){
					// alert("최대 60자까지 입력 가능합니다.");
					// $(this).val(content.substring(0, 60));
					$('#tcounter').html("(60 / 최대 60자)");
				}
			});

			$('#tcounter').html("("+$("#topSubTxt").val().length+" / 최대 60자)");    //글자수 실시간 카운팅

			$('#bottomMainTxt').keyup(function (e){
				var content = $(this).val();
				$('#bcounter').html("("+content.length+" / 최대 30자)");    //글자수 실시간 카운팅
				if (content.length > 30){
					// alert("최대 30자까지 입력 가능합니다.");
					// $(this).val(content.substring(0, 30));
					$('#bcounter').html("(30 / 최대 30자)");
				}
			});

			$('#bcounter').html("("+$("#bottomMainTxt").val().length+" / 최대 30자)");    //글자수 실시간 카운팅

			$("#is_form").validate({
				ignore: "",
				rules: {
					dispYn: {required:true},
					langKoYn: {required:true},
					title: {required:function(elements){
							var val = elements.value;
							val = val.replace(/^\s+|\s+$/g, '');
							elements.value = val;
							if(val.length == 0){
								$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅
								return true;
							}else{
								$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅
								return false;
							}
						},maxlength:100},
					type: {required: true},
					pcImgCheck: {
						required: function(element){
							return $("input[name='type']:checked").val() == 'I' && element.value == '';
						}
						,extension2: 'png|jpg'
						,filesize : 2097152
					},
					moImgCheck: {
						required: function(element){
							return $("input[name='type']:checked").val() == 'I' && element.value == '';
						}
						,extension2: 'png|jpg'
						,filesize : 2097152
					},
					videosWay: {
						required: function(element){
							return $("input[name='type']:checked").val() == 'M';
						}
					},
					videosUrl: {
						required: function(element){

							var val = element.value;
							val = val.replace(/^\s+|\s+$/g, '');
							element.value = val;
							if($("input[name='type']:checked").val() == 'M' && $("input[name='videosWay']:checked").val() == 'URL' && val == ''){
								return true;
							}else{
								return false;
							}
						}
					},
					mvFileCheck: {
						required: function(element){
							return $("input[name='type']:checked").val() == 'M' && $("input[name='videosWay']:checked").val() == 'UPLOAD' && element.value == '';
						}
						,extension2: 'mp4'
						,filesize : 10485760
					},
					topSubTxt: {maxlength:60},
					bottomMainTxt: {maxlength:30}

				},

				messages: {
					dispYn: {required:"전시여부를 선택해주세요."},
					langKoYn: {required:"언어구분을 선택해주세요."},
					title: {required:"제목을 입력해주세요.",maxlength:"제목은 최대 100글자까지 입력가능합니다."},
					type: {required: "유형를 선택해주세요."},
					pcImgCheck: {required: "pc이미지를 선택해주세요.",extension2: "pc이미지는 jpg,png만 업로드 가능합니다.",filesize: "pc이미지는 2MB이하만 업로드 가능합니다."},
					moImgCheck: {required: "모바일이미지를 선택해주세요.",extension2: "모바일이미지는 jpg,png만 업로드 가능합니다.",filesize: "모바일이미지는 2MB이하만 업로드 가능합니다."},
					videosWay: {required: "동영상선택을 선택해주세요."},
					videosUrl: {required: "동영상 연결 url을 입력해주세요."},
					mvFileCheck: {required: "동영상을 선택해주세요.",extension2: "동영상은 mp4만 업로드 가능합니다.", filesize: "동영상은 10MB이하만 업로드 가능합니다."},
					topSubTxt: {maxlength:"메인비주얼 상단 서브 텍스트는 최대 60글자까지 입력가능합니다."},
					bottomMainTxt: {maxlength:"메인비주얼 하단 메인 텍스트는 최대 30글자까지 입력가능합니다."}
				},
				errorPlacement: function(error, element) {

				}
			});

		});




		/***********************pc이미지****************************/
				// 파일 현재 필드 숫자 totalCount랑 비교값
		var fileCount = $('#articlefileChange').children().length;
		// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
		var totalCount = 1;
		// 파일 고유넘버
		var fileNum = 0;
		// 첨부파일 배열
		var content_files = [];
		var delete_files = [];

		function fileCheck(e) {
			var files = e.target.files;

			// 파일 배열 담기
			var filesArr = Array.prototype.slice.call(files);

			fileCount = $('#articlefileChange').children().length;
			// 파일 개수 확인 및 제한
			if (fileCount + filesArr.length > totalCount) {
				alert('파일은 최대 '+totalCount+'개까지 업로드 할 수 있습니다.');
				return;
			} else {
				fileCount = fileCount + filesArr.length;
			}

			// 각각의 파일 배열담기 및 기타
			filesArr.forEach(function (f) {
				var name = f.name;
				var ext = f.name.split('.').pop().toLowerCase();
				var size = f.size;
				var reader = new FileReader();

				if(size > 2097152){
					alert("2MB이하의 jpg, png 파일만 업로드 할 수 있습니다.");
					$("#input_file").val("");
					return false;
				}

				if("jpg|png".indexOf(ext) == -1){
					alert("jpg, png 파일만 업로드 할 수 있습니다.");
					$("#input_file").val("");
					return false;
				}

				reader.onload = function (e) {
					content_files = [];
					content_files.push(f);
					$("#pcImgCheck").val(name);
					$("#pcImgCheck").attr('data-ext',ext);
					$("#pcImgCheck").attr('data-size',size);
					$('#articlefileChange').html(
							'<div id="file' + fileNum + '" >'
							+ '<img src="' + e.target.result + '" width="200" height="200" alt="">'
							+ '<i class="me-2 mdi mdi-minus" onclick="fileDelete(\'file' + fileNum + '\')"></i>'
							+ '<br/>'
							+ '<font style="font-size:12px">' + f.name + '</font>'
							+ '</div>'
					);
					fileNum ++;
				};
				reader.readAsDataURL(f);
			});

			//초기화 한다.
			$("#input_file").val("");
		}

		// 파일 부분 삭제 함수
		function fileDelete(fileNum){
			var no = fileNum.replace(/[^0-9]/g, "");
			content_files = [];
			//content_files[no].is_delete = true;
			$('#' + fileNum).remove();

			$("#pcImgCheck").val('');
			$("#pcImgCheck").attr('data-ext','');
			$("#pcImgCheck").attr('data-size','');

			fileCount --;
		}

		function removeContent(fildId){
			console.log('fild',fildId);
			delete_files.push(fildId);
			$("#dbfile1").remove();

			$("#pcImgCheck").val('');
			$("#pcImgCheck").attr('data-ext','');
			$("#pcImgCheck").attr('data-size','');
		}

		/***********************pc이미지****************************/

		/***********************mo이미지****************************/
				// 파일 현재 필드 숫자 totalCount랑 비교값
		var mofileCount = $('#moarticlefileChange').children().length;
		// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
		var mototalCount = 1;
		// 파일 고유넘버
		var mofileNum = 0;
		// 첨부파일 배열
		var mocontent_files = [];
		var modelete_files = [];

		function mofileCheck(e) {
			var files = e.target.files;

			// 파일 배열 담기
			var filesArr = Array.prototype.slice.call(files);

			mofileCount = $('#moarticlefileChange').children().length;
			// 파일 개수 확인 및 제한
			if (mofileCount + filesArr.length > mototalCount) {
				alert('파일은 최대 '+mototalCount+'개까지 업로드 할 수 있습니다.');
				return;
			} else {
				mofileCount = mofileCount + filesArr.length;
			}

			// 각각의 파일 배열담기 및 기타
			filesArr.forEach(function (f) {
				var name = f.name;
				var ext = f.name.split('.').pop().toLowerCase();
				var size = f.size;
				var reader = new FileReader();

				if(size > 2097152){
					alert("2MB이하의 jpg, png 파일만 업로드 할 수 있습니다.");
					$("#moinput_file").val("");
					return false;
				}

				if("jpg|png".indexOf(ext) == -1){
					alert("jpg, png 파일만 업로드 할 수 있습니다.");
					$("#moinput_file").val("");
					return false;
				}

				reader.onload = function (e) {
					mocontent_files = [];
					mocontent_files.push(f);
					$("#moImgCheck").val(name);
					$("#moImgCheck").attr('data-ext',ext);
					$("#moImgCheck").attr('data-size',size);
					$('#moarticlefileChange').html(
							'<div id="mofile' + mofileNum + '">'
							+ '<img src="' + e.target.result + '" width="200" height="200" alt="">'
							+ '<i class="me-2 mdi mdi-minus"  onclick="mofileDelete(\'mofile' + mofileNum + '\')"></i>'
							+ '<br/>'
							+ '<font style="font-size:12px">' + f.name + '</font>'
							+ '</div>'
					);
					mofileNum ++;
				};
				reader.readAsDataURL(f);
			});

			//초기화 한다.
			$("#moinput_file").val("");
		}

		// 파일 부분 삭제 함수
		function mofileDelete(fileNum){
			var no = fileNum.replace(/[^0-9]/g, "");
			mocontent_files = [];
			//mocontent_files[no].is_delete = true;
			$('#' + fileNum).remove();

			$("#moImgCheck").val('');
			$("#moImgCheck").attr('data-ext','');
			$("#moImgCheck").attr('data-size','');

			mofileCount --;
		}

		function moremoveContent(fildId){
			console.log('fild',fildId);
			modelete_files.push(fildId);
			$("#modbfile1").remove();

			$("#moImgCheck").val('');
			$("#moImgCheck").attr('data-ext','');
			$("#moImgCheck").attr('data-size','');

		}
		/**********************mo이미지****************************/

		/***********************mv파일****************************/
				// 파일 현재 필드 숫자 totalCount랑 비교값
		var mvfileCount = $('#mvarticlefileChange').children().length;
		// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
		var mvtotalCount = 1;
		// 파일 고유넘버
		var mvfileNum = 0;
		// 첨부파일 배열
		var mvcontent_files = [];
		var mvdelete_files = [];

		function mvfileCheck(e) {
			var files = e.target.files;

			// 파일 배열 담기
			var filesArr = Array.prototype.slice.call(files);

			mvfileCount = $('#mvarticlefileChange').children().length;
			// 파일 개수 확인 및 제한
			if (mvfileCount + filesArr.length > mvtotalCount) {
				alert('파일은 최대 '+mvtotalCount+'개까지 업로드 할 수 있습니다.');
				return;
			} else {
				mvfileCount = mvfileCount + filesArr.length;
			}

			// 각각의 파일 배열담기 및 기타
			filesArr.forEach(function (f) {
				var name = f.name;
				var ext = f.name.split('.').pop().toLowerCase();
				var size = f.size;
				var reader = new FileReader();

				if(size > 10485760){
					alert("10MB이하의 mp4 파일만 업로드 할 수 있습니다.");
					$("#mvinput_file").val("");
					return false;
				}

				if("mp4".indexOf(ext) == -1){
					alert("mp4 파일만 업로드 할 수 있습니다.");
					$("#mvinput_file").val("");
					return false;
				}

				reader.onload = function (e) {
					mvcontent_files = [];
					mvcontent_files.push(f);
					$("#mvFileCheck").val(name);
					$("#mvFileCheck").attr('data-ext',ext);
					$("#mvFileCheck").attr('data-size',size);
					$('#mvarticlefileChange').append(
							'<div id="mvfile' + mvfileNum + '">'
							+ '<font style="font-size:12px">' + f.name + '</font>'
							+ '<i class="me-2 mdi mdi-minus" onclick="mvfileDelete(\'mvfile' + mvfileNum + '\')"></i>'
							+ '</div>'
					);
					mvfileNum ++;
				};
				reader.readAsDataURL(f);
			});

			//초기화 한다.
			$("#mvinput_file").val("");
		}

		// 파일 부분 삭제 함수
		function mvfileDelete(fileNum){
			var no = fileNum.replace(/[^0-9]/g, "");
			mvcontent_files = [];
			//mvcontent_files[no].is_delete = true;
			$('#' + fileNum).remove();

			$("#mvFileCheck").val('');
			$("#mvFileCheck").attr('data-ext','');
			$("#mvFileCheck").attr('data-size','');

			mvfileCount --;
		}

		function mvremoveContent(fildId){
			console.log('fild',fildId);
			mvdelete_files.push(fildId);
			$("#mvdbfile1").remove();

			$("#mvFileCheck").val('');
			$("#mvFileCheck").attr('data-ext','');
			$("#mvFileCheck").attr('data-size','');
		}
		/**********************mv파일****************************/

		/*
         * 폼 submit 로직
         */
		function registerAction(){

			if(!$("#is_form").valid()){
				return false;
			}


			var form = $("#is_form")[0];
			var formData = new FormData(form);

			for (var x = 0; x < content_files.length; x++) {
				formData.append("pcImg", content_files[x]);
			}

			for(var y = 0; y<delete_files.length; y++){
				formData.append("pcImgDelete", delete_files[y]);
			}

			for (var x = 0; x < mocontent_files.length; x++) {
				formData.append("moImg", mocontent_files[x]);
			}

			for(var y = 0; y<modelete_files.length; y++){
				formData.append("moImgDelete", modelete_files[y]);
			}

			for (var x = 0; x < mvcontent_files.length; x++) {
				formData.append("mvFile", mvcontent_files[x]);
			}

			for(var y = 0; y<mvdelete_files.length; y++){
				formData.append("mvFileDelete", mvdelete_files[y]);
			}

			console.log('formData',formData);

			/*
            * 파일업로드 multiple ajax처리
            */
			$.ajax({
				type: "POST",
				url: "/mainvisualEditProcess",
				data : formData,
				cache:false,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log('data',data);
					alert("메인비주얼이 저장되었습니다.");
					location.href="/mainvisualList";
				},
				error: function (xhr, status, error) {
					alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
					return false;
				}
			});
			return false;
		}

		function listAction(){
			//location.href='/mainvisualList';
			// if(document.referrer.indexOf('/mainvisualList') > -1){
			// 	history.back();
			// }else{
			// 	location.href='/mainvisualList';
			// }
			$("#sch_form").attr("action", "/mainvisualList").submit();
		}

		function cancelAction(){
			var msg = "등록";
			/*[# th:if="${mainvisual.id == null}"]*/
			msg = "등록";
			/*[/]*/
			/*[# th:if="${mainvisual.id != null}"]*/
			msg = "수정";
			/*[/]*/
			if(confirm(msg+"을 취소하시겠습니까?")){
				location.href='/mainvisualList';
			}
		}

		function deleteAction(id){
			if(confirm("삭제하시겠습니까?")){
				var obj=[];
				obj.push(id);
				var url="/mainvisualDelete";
				$.ajax({
					type : 'POST'
					, async : true
					, beforeSend : function (jqXHR, settings) {
					}
					, url : url //for ASP.NET, java
					, data : 'deleteList='+obj
					, success : function (changes) {
						//debugger;

						if(changes.success == true){
							location.href="/mainvisualList";
						}
					}
					, complete : function (changes) {
					}
				});
			}
		}

	</script>
</head>

<div class="page-wrapper" layout:fragment="content">
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">메인비주얼 관리</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form id="sch_form" name="sch_form" method="post">
						<input type="hidden" name="dispYn" th:value="${searchDto.dispYn}"/>
						<input type="hidden" name="langKoYn" th:value="${searchDto.langKoYn}"/>
					</form>
					<form class="form-horizontal" id="is_form" method="post" enctype="multipart/form-data"
						  name="is_form"
						  th:object="${mainvisual}">
						<input type="hidden" name="id" th:value="*{id}"/>
						<div class="card-body">

							<h4 class="card-title">메인비주얼 <th:block th:if="*{id == null}" th:text="등록"></th:block><th:block th:if="*{id != null}" th:text="수정"></th:block><p style="text-align: right;color:red;font-size:15px">*항목은 필수 입력입니다.</p></h4>


							<div class="form-group required row">
								<label class="col-sm-3 control-label" data-name="dispYn">전시여부</label>
								<div class="col-md-9">

									<th:block th:if="*{id != null}">
										<div class="form-check">
											<input class="form-check-input" id="dispYn1" name="dispYn"
												   th:checked="dispYn == 'Y'"
												   th:field="*{dispYn}"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="dispYn1">전시</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="dispYn2" name="dispYn"
												   th:checked="dispYn == 'N'"
												   th:field="*{dispYn}"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="dispYn2">미전시</label>
										</div>
									</th:block>



									<th:block th:if="*{id == null}">
										<div class="form-check">
											<input class="form-check-input" id="dispYn1" name="dispYn"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="dispYn1">전시</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="dispYn2" name="dispYn"
												   type="radio" value="N" checked="checked">
											<label class="form-check-label mb-0" for="dispYn2">미전시</label>
										</div>
									</th:block>
								</div>
							</div>

							<div class="form-group required row">
								<label class="col-sm-3 control-label" data-name="langKoYn">언어구분</label>
								<div class="col-md-9">

									<th:block th:if="*{id != null}">
										<div class="form-check">
											<input class="form-check-input" id="langKoYn1" name="langKoYn"
												   th:checked="langKoYn == 'Y'"
												   th:field="*{langKoYn}"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="langKoYn1">국문</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="langKoYn2" name="langKoYn"
												   th:checked="langKoYn == 'N'"
												   th:field="*{langKoYn}"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="langKoYn2">영문</label>
										</div>
									</th:block>


									<th:block th:if="*{id == null}">
										<div class="form-check">
											<input class="form-check-input" id="langKoYn1" name="langKoYn"
												   type="radio" value="Y" checked="checked">
											<label class="form-check-label mb-0" for="langKoYn1">국문</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="langKoYn2" name="langKoYn"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="langKoYn2">영문</label>
										</div>
									</th:block>
								</div>
							</div>

							<div class="form-group required row">
								<label
										class="col-sm-3 control-label"
										for="title"
								>제목</label
								>
								<div class="col-md-4">
									<input
											class="form-control"
											id="title"
											name="title"
											maxlength="100"
											placeholder="제목을 입력하세요."
											th:value="${@commUtils.getUnEscHtml(mainvisual.title)}"
											oninput="numberMaxLength(this);"
											type="text"
									/>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">텍스트만 입력 가능<span id="counter">(0 / 최대 100자)</span></middle>
								</div>
							</div>

							<div class="form-group required row">
								<label class="col-sm-3 control-label" data-name="type">유형</label>

								<th:block th:if="*{id != null}">
									<div class="col-md-9">
										<div class="form-check">
											<input class="form-check-input" id="type1" name="type"
												   th:checked="type == 'I'"
												   th:field="*{type}"
												   type="radio" value="I">
											<label class="form-check-label mb-0" for="type1">이미지</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="type2" name="type"
												   th:checked="type == 'M'"
												   th:field="*{type}"
												   type="radio" value="M">
											<label class="form-check-label mb-0" for="type2">동영상</label>
										</div>
									</div>
								</th:block>

								<th:block th:if="*{id == null}">
									<div class="col-md-9">
										<div class="form-check">
											<input class="form-check-input" id="type1" name="type"
												   checked="checked"
												   type="radio" value="I">
											<label class="form-check-label mb-0" for="type1">이미지</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="type2" name="type"
												   type="radio" value="M">
											<label class="form-check-label mb-0" for="type2">동영상</label>
										</div>
									</div>
								</th:block>


							</div>

							<div id = "pcImgFile" class="form-group required row" style="display:none;">
								<label class="col-sm-3 control-label" data-name="pcImg">PC이미지</label>
								<div class="col-md-4">
									<div class="custom-file">
										<input class="custom-file-input" id="input_file" type="file">
										<label class="custom-file-label" for="input_file"></label>
										<input type="hidden" name="pcImgCheck" id="pcImgCheck" value="" th:value="*{pcImgName}" th:attr="data-ext=*{pcImgExt}" th:attrappend="data-size=*{pcImgLength}"/>
										<br/>
										<div id="articlefileChange">
											<th:block th:if="*{pcImgPath != null}">
												<div th:id="dbfile1">
													<img th:src="*{pcImgPath}" width="100" height="100"/>
													<i class="me-2 mdi mdi-minus" th:onclick="removeContent([[*{pcImgRealPath}]])"></i>
													<br/>
													<font style="font-size:12px" th:text="*{pcImgName}"></font>
												</div>
											</th:block>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">2MB 이하 jpg, png만 업로드 가능</middle>
								</div>
							</div>

							<div id = "moImgFile" class="form-group required row" style="display:none;">
								<label class="col-sm-3 control-label" data-name="moImg">모바일 이미지</label>
								<div class="col-md-4">
									<div class="custom-file">
										<input class="custom-file-input" id="moinput_file" type="file">
										<label class="custom-file-label" for="moinput_file"></label>
										<input type="hidden" name="moImgCheck" id="moImgCheck" value="" th:value="*{moImgName}" th:attr="data-ext=*{moImgExt}" th:attrappend="data-size=*{moImgLength}"/>
										<br/>
										<div id="moarticlefileChange">
											<th:block th:if="*{moImgPath != null}">
												<div th:id="'modbfile1'">
													<img th:src="*{moImgPath}" width="100" height="100"/>
													<i class="me-2 mdi mdi-minus"  th:onclick="moremoveContent([[*{moImgRealPath}]])"></i>
													<br/>
													<font style="font-size:12px" th:text="*{moImgName}"></font>
												</div>
											</th:block>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">2MB 이하 jpg, png만 업로드 가능</middle>
								</div>
							</div>

<!--							<div id="mvFileSelect" class="form-group required row" style="display:none;">-->
<!--								<label class="col-sm-3 control-label" data-name="videosWay">동영상 선택</label>-->
<!--								<div class="col-md-4">-->
<!--									<div class="form-check">-->
<!--										<input class="form-check-input" id="videosWay1" name="videosWay"-->
<!--											   th:checked="videosWay == 'URL'"-->
<!--											   th:field="*{videosWay}"-->
<!--											   type="radio" value="URL">-->
<!--										<label class="form-check-label mb-0" for="videosWay1">URL 방식</label>-->
<!--									</div>-->
<!--									<div class="form-check">-->
<!--										<input class="form-check-input" id="videosWay2" name="videosWay"-->
<!--											   th:checked="videosWay == 'UPLOAD'"-->
<!--											   th:field="*{videosWay}"-->
<!--											   type="radio" value="UPLOAD">-->
<!--										<label class="form-check-label mb-0" for="videosWay2">업로드 방식</label>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div  id = "mvFileUrlInfo" class="form-group required row" style="display:none;">-->
<!--								<label-->
<!--										class="col-sm-3 control-label"-->
<!--										data-name="videosUrl"-->
<!--										for="title"-->
<!--								>동영상 url</label-->
<!--								>-->
<!--								<div class="col-md-4">-->
<!--									<input-->
<!--											class="form-control"-->
<!--											id="videosUrl"-->
<!--											name="videosUrl"-->
<!--											placeholder="연결할 URL을 입력해주세요."-->
<!--											th:field="*{videosUrl}"-->
<!--											type="text"-->
<!--									/>-->
<!--								</div>-->
<!--							</div>-->

							<div id = "mvFileInfo" class="form-group required row" style="display:none;">
								<label class="col-sm-3 control-label" data-name="mvFile">동영상 업로드</label>
								<div class="col-md-4">
									<div class="custom-file">
										<input class="custom-file-input" id="mvinput_file" type="file">
										<label class="custom-file-label" for="moinput_file"></label>
										<input type="hidden" name="mvFileCheck" id="mvFileCheck" value="" th:value="*{videosName}" th:attr="data-ext=*{videosExt}" th:attrappend="data-size=*{videosLength}"/>
										<br/>
										<div id="mvarticlefileChange">
											<th:block th:if="*{videosPath != null}">
												<div th:id="'mvdbfile1'" >
													<font style="font-size:12px" th:text="*{videosName}"></font>
													<i class="me-2 mdi mdi-minus"  th:onclick="mvremoveContent([[*{videosRealPath}]])"></i>

												</div>
											</th:block>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">10MB 이하 mp4만 업로드 가능</middle>
								</div>
							</div>

							<div class="form-group row">
								<label for="topSubTxt" class="col-sm-3">메인비주얼 상단 서브 텍스트</label>
								<div class="col-sm-4">
									<textarea maxlength="60" id="topSubTxt" name="topSubTxt" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 78px;" th:utext="*{topSubTxt}" placeholder="메인 비주얼에 표시될 상단 서브 텍스트를 입력해주세요.&#13;&#10태그 포함 최대 60자 이내" oninput="numberMaxLength(this);"></textarea>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">텍스트만 입력 가능<span id="tcounter">(0 / 최대 60자)</span></middle>
								</div>
							</div>

							<div class="form-group row">
								<label for="bottomMainTxt" class="col-sm-3">메인비주얼 하단 메인 텍스트</label>
								<div class="col-sm-4">
									<textarea maxlength="30" id="bottomMainTxt" name="bottomMainTxt" class="form-control" style="margin-top: 0px; margin-bottom: 0px; height: 78px;" th:utext="*{bottomMainTxt}" placeholder="메인 비주얼에 표시될 하단 메인 텍스트를 입력해주세요.&#13;&#10태그 포함 최대 30자 이내" oninput="numberMaxLength(this);"></textarea>
								</div>
								<div class="col-md-4">
									<middle class="text-muted">텍스트만 입력 가능<span id="bcounter">(0 / 최대 30자)</span></middle>
								</div>
							</div>

							<div class="border-top" style="text-align:center;">
								<div class="card-body">
									<button class="btn btn-secondary text-white" onclick="listAction();"
											type="button">
										목록
									</button>
									<button class="btn btn-success text-white" onclick="registerAction();"
											type="button">
										<th:block th:if="*{id == null}" th:text="등록"></th:block>
										<th:block th:if="*{id != null}" th:text="수정"></th:block>
									</button>
									<th:block th:if="*{id == null}">
										<button class="btn btn-danger text-white" onclick="cancelAction();" type="button">
											취소
										</button>
									</th:block>
									<th:block th:if="*{id != null}">
										<button class="btn btn-danger text-white" th:onclick="deleteAction([[*{id}]]);" type="button">
											삭제
										</button>
									</th:block>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>

</html>
