<!DOCTYPE html>
<html lang="ko"
	  layout:decorate="~{layout/default_layout}"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom CSS -->
	<link
			href="/assets/libs/jquery-minicolors/jquery.minicolors.css"
			rel="stylesheet"
			th:href="@{/assets/libs/jquery-minicolors/jquery.minicolors.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/quill/dist/quill.snow.css"
			rel="stylesheet"
			th:href="@{/assets/libs/quill/dist/quill.snow.css}"
			type="text/css"
	/>
	<style>
		.form-group.required .control-label:after { content:"*";color:red; }
	</style>
	<!-- This Page JS -->
	<script href="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"
			th:src="@{/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
	<script href="/dist/js/pages/mask/mask.init.js" th:src="@{/dist/js/pages/mask/mask.init.js}"></script>
	<script href="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"
			th:src="@{/assets/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
	<script href="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"
			th:src="@{/assets/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
	<script href="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"
			th:src="@{/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
	<script href="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"
			th:src="@{/assets/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
	<script href="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
			th:src="@{/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script href="/assets/libs/quill/dist/quill.min.js" th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>

	<script href="/assets/libs/jquery-validation/dist/jquery.validate.min.js"
			th:src="@{/assets/libs/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script href="/assets/libs/jquery-validation/dist/additional-methods.js"
			th:src="@{/assets/libs/jquery-validation/dist/additional-methods.js}"></script>

	<script href="/js/jquery-common.js" th:src="@{/js/jquery-common.js}"></script>

	<script href="/ckeditor/ckeditor.js"
			th:src="@{/ckeditor/ckeditor.js}"></script>

	<script>
		var ckeditor_config = {
			resize_enaleb : false,
			allowedContent:true,
			enterMode : CKEDITOR.ENTER_BR,
			shiftEnterMode : CKEDITOR.ENTER_P,
			height:550,
			filebrowserUploadUrl: "/editor/ckUpload"
		};
	</script>
	<script th:inline="javascript">
		$(function () {

			$("#datepicker-autoclose").datepicker({
				format:'yyyy-mm-dd',
				language: 'kr',
				autoclose: true,
				todayHighlight: true,
			});


			$("#input_file").on("change", fileCheck);

			//좌측 메뉴 활성화
			$(".sidebar-link").each(function(){
				if($(this).attr("href").indexOf("noticeList") > 0){
					$(this).closest('li').addClass("selected");
					return false;
				}
			});

			$('#title').keyup(function (e){
				var content = $(this).val();
				$('#counter').html("("+content.length+" / 최대 100자)");    //글자수 실시간 카운팅
				if (content.length > 100){
					// alert("최대 100자까지 입력 가능합니다.");
					// $(this).val(content.substring(0, 100));
					$('#counter').html("(100 / 최대 100자)");
				}
			});

			$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅

			$("#is_form").validate({
				ignore: "",
				rules: {
					dispYn: {required:true},
					dispStartDay: {required:true, regex2:/^(\d{1,4}-\d{2}-\d{2})$/g},
					dispStartTime: {required:true},
					langKoYn: {required:true},
					title: {required:function(elements){
							var val = elements.value;
							val = val.replace(/^\s+|\s+$/g, '');
							elements.value = val;
							if(val.length == 0){
								$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅
								return true;
							}else{
								$('#counter').html("("+$("#title").val().length+" / 최대 100자)");    //글자수 실시간 카운팅
								return false;
							}
						}},

					content: {required:function(element){
							if(CKEDITOR.instances.content.getData().replace(/<br \/>/gi, '').replace(/&nbsp;/gi, '').replace(/^\s+|\s+$/g, '') == ''){
								return true;
							}else{
								return false;
							}
							return true;
						}}
				},

				messages: {
					dispYn: {required:"전시여부를 선택해주세요."},
					dispStartDay: {required:"게시시작일을 입력해주세요.", regex2:"게시시작일을 확인해주세요."},
					dispStartTime: {required:"게시시작시간을 입력해주세요."},
					langKoYn: {required:"언어구분을 선택해주세요."},
					title: {required:"제목을 입력해주세요."},
					content: {required:"내용을 입력해주세요."}
				},
				errorPlacement: function(error, element) {

				}
			});

			$(document).ready(function() {
				//DEXT5.setBodyValueExLikeDiv($('textarea[name=content]').val(), 'content');
				$('textarea[name=content]').val(CKEDITOR.instances.content.getData());

			});
		});




		// 파일 현재 필드 숫자 totalCount랑 비교값
		var fileCount = $('#articlefileChange').children().length;
		// 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
		var totalCount = 10;
		// 파일 고유넘버
		var fileNum = 0;
		// 첨부파일 배열
		var content_files = [];
		var delete_files = [];
		var limitext="jpg|jpeg|gif|png|pdf|doc|docx|hwp|mp4";
		var limitsize=10485760;


		function fileCheck(e) {
			console.log('e',e);
			var files = e.target.files;

			// 파일 배열 담기
			var filesArr = Array.prototype.slice.call(files);

			fileCount = $('#articlefileChange').children("div").length;
			// 파일 개수 확인 및 제한
			if (fileCount + filesArr.length > totalCount) {
				alert('파일은 최대 '+totalCount+'개까지 업로드 할 수 있습니다.');
				return;
			} else {
				fileCount = fileCount + filesArr.length;
			}

			// 각각의 파일 배열담기 및 기타
			filesArr.forEach(function (f) {
				var name = f.name;
				var nameLen = name.length;
				var ext = f.name.split('.').pop().toLowerCase();
				var size = f.size;

				//파일 확장자 체크
				var _lastDot = name.lastIndexOf(".");
				var _fileExt = name.substring(_lastDot+1, nameLen).toLowerCase();

				if(limitext.indexOf(_fileExt)<0){
					alert(limitext.replaceAll('|',',')+"만 첨부가능합니다.");
					return false;
				}

				if(limitsize < size){
					alert("최대 10MB까지 첨부가능합니다.");
					return false;
				}

				var reader = new FileReader();
				reader.onload = function (e) {
					content_files.push(f);
					$('#articlefileChange').append(
							'<div id="file' + fileNum + '"  data-ext="'+ext+'" data-size="'+size+'">'
							+ '<font style="font-size:12px">' + f.name + '</font>'
							+ '<i class="me-2 mdi mdi-minus" onclick="fileDelete(\'file' + fileNum + '\')"></i>'
							+ '</div>'
					);
					fileNum ++;
				};
				reader.readAsDataURL(f);
			});

			//초기화 한다.
			$("#input_file").val("");
		}

		// 파일 부분 삭제 함수
		function fileDelete(fileNum){
			var no = fileNum.replace(/[^0-9]/g, "");
			content_files[no].is_delete = true;
			$('#' + fileNum).remove();
			fileCount --;
		}

		function removeContent(fildId){
			console.log('fild',fildId);
			delete_files.push(fildId);
			$("#dbfile"+fildId).remove();
		}

		/*
         * 폼 submit 로직
         */
		function registerAction(){

			// if(DEXT5.isEmpty("content")){
			// 	alert("내용을 입력해주세요.");
			// 	return false;
			// }

			var editorContent = CKEDITOR.instances.content.getData().replace(/<br \/>/gi, '').replace(/&nbsp;/gi, '').replace(/^\s+|\s+$/g, '');
			if(editorContent == ''){
				alert("내용을 입력해주세요.");
				return false;
			}

			if(!$("#is_form").valid()){
				return false;
			}


			// var content = DEXT5.getBodyValueExLikeDiv('content');
			// $('textarea[name=content]').val(content);
			$('textarea[name=content]').val(CKEDITOR.instances.content.getData());


			var form = $("#is_form")[0];
			var formData = new FormData(form);

			for (var x = 0; x < content_files.length; x++) {
				// 삭제 안한것만 담아 준다.
				if(!content_files[x].is_delete){
					formData.append("file", content_files[x]);
				}
			}

			formData.append("deletefilenum", delete_files);


			/*
            * 파일업로드 multiple ajax처리
            */
			$.ajax({
				type: "POST",
				url: "/noticeEditProcess",
				data : formData,
				cache:false,
				processData: false,
				contentType: false,
				success: function (data) {
					console.log('data',data);
					alert("공지사항이 저장되었습니다.");
					location.href="/noticeList";
				},
				error: function (xhr, status, error) {
					alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
					return false;
				}
			});
			return false;
		}

		function listAction(){
			//location.href='/noticeList';
			if(document.referrer.indexOf('/noticeList') > -1){
				history.back();
			}else{
				location.href='/noticeList';
			}
		}

		function cancelAction(){
			var msg = "등록";
			/*[# th:if="${notice.id == null}"]*/
			msg = "등록";
			/*[/]*/
			/*[# th:if="${notice.id != null}"]*/
			msg = "수정";
			/*[/]*/
			if(confirm(msg+"을 취소하시겠습니까?")){
				location.href='/noticeList';
			}
		}

		function deleteAction(id){
			if(confirm("삭제하시겠습니까?")){
				var obj=[];
				obj.push(id);
				var url="/noticeDelete";
				$.ajax({
					type : 'POST'
					, async : true
					, beforeSend : function (jqXHR, settings) {
					}
					, url : url //for ASP.NET, java
					, data : 'deleteList='+obj
					, success : function (changes) {
						//debugger;

						if(changes.success == true){
							location.href="/noticeList";
						}
					}
					, complete : function (changes) {
					}
				});
			}
		}
	</script>
</head>

<div class="page-wrapper" layout:fragment="content">
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">공지사항 관리</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form class="form-horizontal" id="is_form" method="post" enctype="multipart/form-data"
						  name="is_form"
						  th:object="${notice}">
						<input type="hidden" name="id" th:value="*{id}"/>
						<div class="card-body">
							<h4 class="card-title">공지사항 <th:block th:if="*{id == null}" th:text="등록"></th:block><th:block th:if="*{id != null}" th:text="수정"></th:block><p style="text-align: right;color:red;font-size:15px">*항목은 필수 입력입니다.</p></h4>
							<div class="form-group required row">
								<label class="col-md-1 control-label">전시여부</label>
								<div class="col-md-3">

									<th:block th:if="*{id != null}">
										<div class="form-check dpib">
											<input class="form-check-input" id="dispYn1" name="dispYn"
												   th:checked="dispYn == 'Y'"
												   th:field="*{dispYn}"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="dispYn1">전시</label>
										</div>
										<div class="form-check dpib">
											<input class="form-check-input" id="dispYn2" name="dispYn"
												   th:checked="dispYn == 'N'"
												   th:field="*{dispYn}"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="dispYn2">미전시</label>
										</div>
									</th:block>


									<th:block th:if="*{id == null}">
										<div class="form-check dpib">
											<input class="form-check-input" id="dispYn1" name="dispYn"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="dispYn1">전시</label>
										</div>
										<div class="form-check dpib">
											<input class="form-check-input" id="dispYn2" name="dispYn"
												   type="radio" value="N" checked="checked">
											<label class="form-check-label mb-0" for="dispYn2">미전시</label>
										</div>
									</th:block>
								</div>

								<label class="col-md-1 control-label">게시일</label>
								<div class="col-md-3">
									<div class="input-group">
										<input class="form-control" id="datepicker-autoclose" name="dispStartDay"
											   placeholder="yyyy-mm-dd"
											   type="text"
											   th:value="*{dispStartDay}"
											   readOnly="true">
									</div>
								</div>
								<div class="col-md-2">
									<select aria-hidden="true"
											class="select2 form-select shadow-none select2-hidden-accessible form-control"
											data-select2-id="1" id="dispStartTime" name="dispStartTime"
											style="width: 100%; height: 36px" tabindex="-1">
										<option th:selected="*{dispStartTime} == '00'" value="00">00시</option>
										<option th:selected="*{dispStartTime} == '01'" value="01">01시</option>
										<option th:selected="*{dispStartTime} == '02'" value="02">02시</option>
										<option th:selected="*{dispStartTime} == '03'" value="03">03시</option>
										<option th:selected="*{dispStartTime} == '04'" value="04">04시</option>
										<option th:selected="*{dispStartTime} == '05'" value="05">05시</option>
										<option th:selected="*{dispStartTime} == '06'" value="06">06시</option>
										<option th:selected="*{dispStartTime} == '07'" value="07">07시</option>
										<option th:selected="*{dispStartTime} == '08'" value="08">08시</option>
										<option th:selected="*{dispStartTime} == '09'" value="09">09시</option>
										<option th:selected="*{dispStartTime} == '10'" value="10">10시</option>
										<option th:selected="*{dispStartTime} == '11'" value="11">11시</option>
										<option th:selected="*{dispStartTime} == '12'" value="12">12시</option>
										<option th:selected="*{dispStartTime} == '13'" value="13">13시</option>
										<option th:selected="*{dispStartTime} == '14'" value="14">14시</option>
										<option th:selected="*{dispStartTime} == '15'" value="15">15시</option>
										<option th:selected="*{dispStartTime} == '16'" value="16">16시</option>
										<option th:selected="*{dispStartTime} == '17'" value="17">17시</option>
										<option th:selected="*{dispStartTime} == '18'" value="18">18시</option>
										<option th:selected="*{dispStartTime} == '19'" value="19">19시</option>
										<option th:selected="*{dispStartTime} == '20'" value="20">20시</option>
										<option th:selected="*{dispStartTime} == '21'" value="21">21시</option>
										<option th:selected="*{dispStartTime} == '22'" value="22">22시</option>
										<option th:selected="*{dispStartTime} == '23'" value="23">23시</option>
									</select>
								</div>
							</div>
							<div class="form-group required row">
								<label class="col-md-1 control-label">국문여부</label>
								<div class="col-md-9">

									<th:block th:if="*{id != null}">
										<div class="form-check">
											<input class="form-check-input" id="langKoYn1" name="langKoYn"
												   th:checked="langKoYn == 'Y'"
												   th:field="*{langKoYn}"
												   type="radio" value="Y">
											<label class="form-check-label mb-0" for="langKoYn1">국문</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="langKoYn2" name="langKoYn"
												   th:checked="langKoYn == 'N'"
												   th:field="*{langKoYn}"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="langKoYn2">영문</label>
										</div>
									</th:block>

									<th:block th:if="*{id == null}">
										<div class="form-check">
											<input class="form-check-input" id="langKoYn1" name="langKoYn"
												   type="radio" value="Y" checked="checked">
											<label class="form-check-label mb-0" for="langKoYn1">국문</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" id="langKoYn2" name="langKoYn"
												   type="radio" value="N">
											<label class="form-check-label mb-0" for="langKoYn2">영문</label>
										</div>
									</th:block>
								</div>
							</div>

							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="title"
								>제목</label
								>
								<div class="col-sm-5">
									<input
											class="form-control"
											id="title"
											name="title"
											maxlength="100"
											placeholder="제목을 입력하세요."
											th:value="${@commUtils.getUnEscHtml(notice.title)}"
											oninput="numberMaxLength(this);"
											type="text"
									/>
								</div>
								<div class="col-sm-4">
									<middle class="text-muted">텍스트만 입력 가능<span id="counter">(0 / 최대 100자)</span></middle>
								</div>
							</div>
							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="content"
								>내용</label
								>
								<div class="col-sm-9">
									<textarea th:utext="*{content}" name="content" id="content" ></textarea>
									<script type="text/javascript">
										//var dext5Editor = new Dext5editor("content");
										CKEDITOR.replace('content', ckeditor_config);
									</script>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-1">첨부파일</label>
								<div class="col-md-5">
									<div class="custom-file">
										<input class="custom-file-input" id="input_file" type="file" />
										<br/>
										<div id="articlefileChange">
											<div th:each="filedata, i: ${notice.noticefileList}" th:id="'dbfile'+${filedata.id}" th:attr="data-ext=${filedata.fileExt}" th:attrappend="data-size=${filedata.fileLength},data-name=${filedata.fileName}" >
												<font style="font-size:12px" th:utext="${filedata.fileName}"></font>
												<i class="me-2 mdi mdi-minus" th:onclick="'removeContent(' + ${filedata.id} + ');'" ></i>
											</div>
											<label class="custom-file-label" for="input_file">10MB 이하의 jpg, jpeg, gif, png, pdf, doc, docx, hwp, mp4 파일만 첨부 가능합니다.</label>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<middle class="text-muted"></middle>
								</div>
							</div>
							<div class="border-top" style="text-align:center;">
								<div class="card-body">
									<button class="btn btn-secondary text-white" onclick="listAction();"
											type="button">
										목록
									</button>
									<button class="btn btn-success text-white" onclick="registerAction();"
											type="button">
										<th:block th:if="*{id == null}" th:text="등록"></th:block>
										<th:block th:if="*{id != null}" th:text="수정"></th:block>
									</button>
									<th:block th:if="*{id == null}">
										<button class="btn btn-danger text-white" onclick="cancelAction();" type="button">
											취소
										</button>
									</th:block>
									<th:block th:if="*{id != null}">
										<button class="btn btn-danger text-white" th:onclick="deleteAction([[*{id}]]);" type="button">
											삭제
										</button>
									</th:block>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>

</html>
