<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom CSS -->
	<link
			href="/assets/libs/select2/dist/css/select2.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/select2/dist/css/select2.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/jquery-minicolors/jquery.minicolors.css"
			rel="stylesheet"
			th:href="@{/assets/libs/jquery-minicolors/jquery.minicolors.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/quill/dist/quill.snow.css"
			rel="stylesheet"
			th:href="@{/assets/libs/quill/dist/quill.snow.css}"
			type="text/css"
	/>
	<style>
		.form-group.required .control-label:after { content:"*";color:red; }
	</style>
	<!-- This Page JS -->
	<script href="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"
	        th:src="@{/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
	<script href="/dist/js/pages/mask/mask.init.js" th:src="@{/dist/js/pages/mask/mask.init.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.full.min.js"
	        th:src="@{/assets/libs/select2/dist/js/select2.full.min.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.min.js"
	        th:src="@{/assets/libs/select2/dist/js/select2.min.js}"></script>
	<script href="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"
	        th:src="@{/assets/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
	<script href="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"
	        th:src="@{/assets/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
	<script href="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"
	        th:src="@{/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
	<script href="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"
	        th:src="@{/assets/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
	<script href="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
	        th:src="@{/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script href="/assets/libs/quill/dist/quill.min.js" th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>

	<script href="/assets/libs/jquery-validation/dist/jquery.validate.min.js"
	        th:src="@{/assets/libs/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script href="/assets/libs/jquery-validation/dist/additional-methods.js"
	        th:src="@{/assets/libs/jquery-validation/dist/additional-methods.js}"></script>

	<script href="/js/jquery-common.js" th:src="@{/js/jquery-common.js}"></script>
	<script href="/ckeditor/ckeditor.js"
			th:src="@{/ckeditor/ckeditor.js}"></script>

	<script>
		var ckeditor_config = {
			resize_enaleb : false,
			allowedContent:true,
			enterMode : CKEDITOR.ENTER_BR,
			shiftEnterMode : CKEDITOR.ENTER_P,
			height:550,
			filebrowserUploadUrl: "/editor/ckUpload"
		};
	</script>
	<script th:inline="javascript">
    $(function () {

		//좌측 메뉴 활성화
		$(".sidebar-link").each(function(){
			if($(this).attr("href").indexOf("prbinfoList") > 0){
				$(this).addClass("active");
				$(this).closest('li').addClass("active");
				$(this).closest('li').closest('ul').addClass("in");
				$(this).closest('li').closest('ul').prev().addClass("active");
				$(this).closest('li').closest('ul').closest('li').addClass('selected');
				return false;
			}
		});

		$("#is_form").validate({
			ignore: "",
			rules: {
				content: {required:function(element){
						if(CKEDITOR.instances.content.getData().replace(/<br \/>/gi, '').replace(/&nbsp;/gi, '').replace(/^\s+|\s+$/g, '') == ''){
							return true;
						}else{
							return false;
						}
					}}
			},

			messages: {
				content: {required:"내용을 입력해주세요."}
			},
			errorPlacement: function(error, element) {

			}
		});

		$(document).ready(function() {
			//DEXT5.setBodyValueExLikeDiv($('textarea[name=content]').val(), 'content');
			$('textarea[name=content]').val(CKEDITOR.instances.content.getData());
		});

    });




    /*
     * 폼 submit 로직
     */
        function registerAction(){
			var editorContent = CKEDITOR.instances.content.getData().replace(/<br \/>/gi, '').replace(/&nbsp;/gi, '').replace(/^\s+|\s+$/g, '');
			if(editorContent == ''){
				alert("내용을 입력해주세요.");
				return false;
			}

			if(!$("#is_form").valid()){
				return false;
			}

			// var content = DEXT5.getBodyValueExLikeDiv('content');
			// $('textarea[name=content]').val(content);
			$('textarea[name=content]').val(CKEDITOR.instances.content.getData());



        var form = $("#is_form")[0];
        var formData = new FormData(form);


       /*
       * 파일업로드 multiple ajax처리
       */
        $.ajax({
              type: "POST",
              url: "/prbinfoEditProcess",
              data : formData,
			  cache:false,
              processData: false,
              contentType: false,
              success: function (data) {
				console.log('data',data);
				alert("개인정보 처리방침이 저장되었습니다.");
				  location.href="/prbinfoList";
              },
              error: function (xhr, status, error) {
                alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
             return false;
              }
            });
            return false;
        }

	function listAction(){
		//location.href='/prbinfoList';
		if(document.referrer.indexOf('/prbinfoList') > -1){
			history.back();
		}else{
			location.href='/prbinfoList';
		}
	}

	function cancelAction(){
		var msg = "등록";
		/*[# th:if="${obj.id == null}"]*/
		msg = "등록";
		/*[/]*/
		/*[# th:if="${obj.id != null}"]*/
		msg = "수정";
		/*[/]*/
		if(confirm(msg+"을 취소하시겠습니까?")){
			location.href='/prbinfoList';
		}
	}

	function deleteAction(id){
		if(confirm("삭제하시겠습니까?")){
			var obj=[];
			obj.push(id);
			var url="/prbinfoDelete";
			$.ajax({
				type : 'POST'
				, async : true
				, beforeSend : function (jqXHR, settings) {
				}
				, url : url //for ASP.NET, java
				, data : 'deleteList='+obj
				, success : function (changes) {
					//debugger;

					if(changes.success == true){
						location.href="/prbinfoList";
					}
				}
				, complete : function (changes) {
				}
			});
		}
	}

	</script>
</head>

<div class="page-wrapper" layout:fragment="content">
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">개인정보처리방침 관리</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form class="form-horizontal" id="is_form" method="post" enctype="multipart/form-data"
					      name="is_form"
					      th:object="${obj}">
						<input type="hidden" name="id" th:value="*{id}"/>
						<div class="card-body">
							<h4 class="card-title">개인정보처리방침 <th:block th:if="*{id == null}" th:text="등록"></th:block><th:block th:if="*{id != null}" th:text="수정"></th:block><p style="text-align: right;color:red;font-size:15px">*항목은 필수 입력입니다.</p></h4>

							<div class="form-group row">
								<label class="col-md-1">등록일</label>
								<div class="col-md-3" th:if="*{not #strings.isEmpty(regDtime)}"
									 th:text="*{#temporals.format(regDtime, 'yyyy-MM-dd')}">
								</div>
							</div>
							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="content"
								>내용</label
								>
								<div class="col-sm-9">
									<textarea th:utext="*{content}" name="content" id="content"></textarea>
									<script type="text/javascript">
										CKEDITOR.replace('content', ckeditor_config);
									</script>
								</div>
							</div>

						</div>
						<div class="border-top" style="text-align:center;">
							<div class="card-body">
								<button class="btn btn-secondary text-white" onclick="listAction();"
										type="button">
									목록
								</button>
								<button class="btn btn-success text-white" onclick="registerAction();"
								        type="button">
									<th:block th:if="*{id == null}" th:text="등록"></th:block>
									<th:block th:if="*{id != null}" th:text="수정"></th:block>
								</button>
								<th:block th:if="*{id == null}">
									<button class="btn btn-danger text-white" onclick="cancelAction();" type="button">
										취소
									</button>
								</th:block>
								<th:block th:if="*{id != null}">
									<button class="btn btn-danger text-white" th:onclick="deleteAction([[*{id}]]);" type="button">
										삭제
									</button>
								</th:block>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>

</html>