<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/default_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Custom CSS -->
	<link
			href="/assets/libs/select2/dist/css/select2.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/select2/dist/css/select2.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/jquery-minicolors/jquery.minicolors.css"
			rel="stylesheet"
			th:href="@{/assets/libs/jquery-minicolors/jquery.minicolors.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"
			rel="stylesheet"
			th:href="@{/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"
			type="text/css"
	/>
	<link
			href="/assets/libs/quill/dist/quill.snow.css"
			rel="stylesheet"
			th:href="@{/assets/libs/quill/dist/quill.snow.css}"
			type="text/css"
	/>
	<style>
		.form-group.required .control-label:after { content:"*";color:red; }
	</style>
	<!-- This Page JS -->
	<script href="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"
	        th:src="@{/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
	<script href="/dist/js/pages/mask/mask.init.js" th:src="@{/dist/js/pages/mask/mask.init.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.full.min.js"
	        th:src="@{/assets/libs/select2/dist/js/select2.full.min.js}"></script>
	<script href="/assets/libs/select2/dist/js/select2.min.js"
	        th:src="@{/assets/libs/select2/dist/js/select2.min.js}"></script>
	<script href="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"
	        th:src="@{/assets/libs/jquery-asColor/dist/jquery-asColor.min.js}"></script>
	<script href="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"
	        th:src="@{/assets/libs/jquery-asGradient/dist/jquery-asGradient.js}"></script>
	<script href="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"
	        th:src="@{/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js}"></script>
	<script href="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"
	        th:src="@{/assets/libs/jquery-minicolors/jquery.minicolors.min.js}"></script>
	<script href="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"
	        th:src="@{/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<script href="/assets/libs/quill/dist/quill.min.js" th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>

	<script href="/assets/libs/jquery-validation/dist/jquery.validate.min.js"
	        th:src="@{/assets/libs/jquery-validation/dist/jquery.validate.min.js}"></script>
	<script href="/assets/libs/jquery-validation/dist/additional-methods.js"
	        th:src="@{/assets/libs/jquery-validation/dist/additional-methods.js}"></script>

	<script href="/js/jquery-common.js" th:src="@{/js/jquery-common.js}"></script>
	<script href="/dext5editor/js/dext5editor.js"
			th:src="@{/dext5editor/js/dext5editor.js}"></script>
	<script th:inline="javascript">
    $(function () {
          $("#datepicker-autoclose").datepicker({
            format:'yyyy-mm-dd',
			language: 'kr',
            autoclose: true,
            todayHighlight: true,
          });

          $(".select2").select2();

		//좌측 메뉴 활성화
		$(".sidebar-link").each(function(){
			if($(this).attr("href").indexOf("subsidiaryList") > 0){
				$(this).addClass("active");
				$(this).closest('li').addClass("active");
				$(this).closest('li').closest('ul').addClass("in");
				$(this).closest('li').closest('ul').prev().addClass("active");
				$(this).closest('li').closest('ul').closest('li').addClass('selected');
				return false;
			}
		});

		$("#is_form").validate({
			ignore: "",
			rules: {
				name: {required:function(elements){
						var val = elements.value;
						val = val.replace(/^\s+|\s+$/g, '');
						elements.value = val;
						if(val.length == 0){
							return true;
						}else{
							return false;
						}
					}}
				,nameEn : {required:function(elements){
						var val = elements.value;
						val = val.replace(/^\s+|\s+$/g, '');
						elements.value = val;
						if(val.length == 0){
							return true;
						}else{
							return false;
						}
					}}
				,url : {required:function(elements){
						var val = elements.value;
						val = val.replace(/^\s+|\s+$/g, '');
						elements.value = val;
						if(val.length == 0){
							return true;
						}else{
							return false;
						}
					}, regex:/^http[s]?\:\/\//i}
				,useYn : {required:true}
			},

			messages: {
				name: {required:"계열사명을 입력하세요."}
				,nameEn : {required:"계열사 영문명을 입력하세요."}
				,url : {required:"계열사 url을 입력하세요.", regex:"http:// 또는 https://를 포함한 올바른 url을 입력해주세요."}
				,useYn : {required:"사용여부를 선택해주세요."}
			},
			errorPlacement: function(error, element) {

			}
		});


    });




    /*
     * 폼 submit 로직
     */
        function registerAction(){

			if(!$('#is_form').valid()) return false;

        var form = $("#is_form")[0];
        var formData = new FormData(form);

        $.ajax({
              type: "POST",
              url: "/subsidiaryEditProcess",
              data : formData,
			  cache:false,
              processData: false,
              contentType: false,
              success: function (data) {
				console.log('data',data);
				alert("계열사가 저장되었습니다.");
				  location.href="/subsidiaryList";
              },
              error: function (xhr, status, error) {
                alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
             return false;
              }
            });
            return false;
        }

	function listAction(){
		//location.href='/subsidiaryList';
		if(document.referrer.indexOf('/subsidiaryList') > -1){
			history.back();
		}else{
			location.href='/subsidiaryList';
		}
	}

	function cancelAction(){
		var msg = "등록";
		/*[# th:if="${obj.id == null}"]*/
		msg = "등록";
		/*[/]*/
		/*[# th:if="${obj.id != null}"]*/
		msg = "수정";
		/*[/]*/
		if(confirm(msg+"을 취소하시겠습니까?")){
			location.href='/subsidiaryList';
		}
	}

	function deleteAction(id){
		if(confirm("삭제하시겠습니까?")){
			var obj=[];
			obj.push(id);
			var url="/subsidiaryDelete";
			$.ajax({
				type : 'POST'
				, async : true
				, beforeSend : function (jqXHR, settings) {
				}
				, url : url //for ASP.NET, java
				, data : 'deleteList='+obj
				, success : function (changes) {
					//debugger;

					if(changes.success == true){
						location.href="/subsidiaryList";
					}
				}
				, complete : function (changes) {
				}
			});
		}
	}

	</script>
</head>

<div class="page-wrapper" layout:fragment="content">
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-12 d-flex no-block align-items-center">
				<h4 class="page-title">계열사 사이트 관리</h4>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form class="form-horizontal" id="is_form" method="post"
					      name="is_form"
					      th:object="${obj}">
						<input type="hidden" name="id" th:value="*{id}"/>
						<input type="hidden" name="orderSeq" th:value="*{orderSeq}"/>
						<div class="card-body">
							<h4 class="card-title">계열사 <th:block th:if="*{id == null}" th:text="등록"></th:block><th:block th:if="*{id != null}" th:text="수정"></th:block><p style="text-align: right;color:red;font-size:15px">*항목은 필수 입력입니다.</p></h4>

							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="name"
								>계열사 명</label
								>
								<div class="col-sm-5">
									<input
											class="form-control"
											id="name"
											name="name"
											placeholder=""
											maxlength="15"
											th:value="${@commUtils.getUnEscHtml(obj.name)}"
											oninput="numberMaxLength(this);"
											type="text"
									/>
								</div>
								<div class="col-sm-4">
									<middle class="text-muted">최대 글자수 15자 이내로 입력해주세요.</middle>
								</div>
							</div>
							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="nameEn"
								>계열사 영문명</label
								>
								<div class="col-sm-5">
									<input
											class="form-control"
											id="nameEn"
											name="nameEn"
											placeholder=""
											maxlength="30"
											th:value="${@commUtils.getUnEscHtml(obj.nameEn)}"
											oninput="numberMaxLength(this);"
											type="text"
									/>
								</div>
								<div class="col-sm-4">
									<middle class="text-muted">최대 글자수 30자 이내로 입력해주세요.</middle>
								</div>
							</div>
							<div class="form-group required row">
								<label
										class="col-md-1 control-label"
										for="url"
								>URL</label
								>
								<div class="col-sm-5">
									<input
											class="form-control"
											id="url"
											name="url"
											placeholder=""
											maxlength="100"
											th:field="*{url}"
											type="text"
									/>
								</div>
								<div class="col-sm-4">
									<middle class="text-muted">http:// 또는 https:// 를 포함하여 입력해주세요.</middle>
								</div>
							</div>

							<div class="form-group required row">
								<label class="col-md-1 control-label">사용여부</label>
								<div class="col-md-3">
									<div class="form-check">
										<input class="form-check-input" id="useYn1" name="useYn" required=""
										       th:checked="useYn == 'Y'"
										       th:field="*{useYn}"
										       type="radio" value="Y">
										<label class="form-check-label mb-0" for="useYn1">사용</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" id="useYn2" name="useYn" required=""
										       th:checked="useYn == 'N'"
										       th:field="*{useYn}"
										       type="radio" value="N">
										<label class="form-check-label mb-0" for="useYn2">미사용</label>
									</div>
								</div>
							</div>

						</div>
						<div class="border-top" style="text-align:center;">
							<div class="card-body">
								<button class="btn btn-secondary text-white" onclick="listAction();"
										type="button">
									목록
								</button>
								<button class="btn btn-success text-white" onclick="registerAction();"
								        type="button">
									<th:block th:if="*{id == null}" th:text="등록"></th:block>
									<th:block th:if="*{id != null}" th:text="수정"></th:block>
								</button>
								<th:block th:if="*{id == null}">
									<button class="btn btn-danger text-white" onclick="cancelAction();" type="button">
										취소
									</button>
								</th:block>
								<th:block th:if="*{id != null}">
									<button class="btn btn-danger text-white" th:onclick="deleteAction([[*{id}]]);" type="button">
										삭제
									</button>
								</th:block>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</div>

</html>
