<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<aside class="left-sidebar" data-sidebarbg="skin5" th:fragment="leftFragment">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul class="pt-4" id="sidebarnav">
<!--				<span th:text="${#authentication.getPrincipal()}"></span>-->
<!--				<span th:text="${#authentication.getPrincipal().getBlocked()}"></span>-->
<!--				<span th:text="${#authentication.getPrincipal().getAuthorities()[0]}"></span>-->
<!--				<span th:text="${#strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}"></span>-->
<!--				<span th:text="${#authentication.getPrincipal().getMainAuthority() == 'Y'}"></span>-->

				<th:block th:if="${#authentication.getPrincipal().getMainAuthority() == 'Y' or #strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}">
					<li class="sidebar-item">
						<a aria-expanded="false" class="sidebar-link has-arrow waves-effect waves-dark"
						   href="javascript:void(0);">
							<i class="mdi mdi-chart-bar"></i>
							<span class="hide-menu">메인 관리</span>
						</a>
						<ul aria-expanded="false" class="collapse first-level">
							<li class="sidebar-item">
								<a class="sidebar-link" onclick="dtClear();" th:href="@{/mainvisualList}" href="/mainvisualList">
									<i class="mdi mdi-note-outline"></i>
									<span class="hide-menu">메인비주얼 관리</span></a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link" onclick="dtClear();" th:href="@{/mainpopList}" href="/mainpopList">
									<i class="mdi mdi-note-plus"></i>
									<span class="hide-menu">메인팝업 관리</span>
								</a>
							</li>
						</ul>
					</li>
				</th:block>
				<th:block th:if="${#authentication.getPrincipal().getNoticeAuthority() == 'Y' or #strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}">
					<li class="sidebar-item">
						<a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
						   th:href="@{/noticeList}" onclick="dtClear();" href="/noticeList">
							<i class="mdi mdi-chart-bubble"></i>
							<span class="hide-menu">공지사항 관리</span>
						</a>
					</li>
				</th:block>

				<li class="sidebar-item">
					<a aria-expanded="false" class="sidebar-link waves-effect waves-dark sidebar-link"
					   th:href="@{/qnaList}" onclick="dtClear();" href="qnaList">
						<i class="mdi mdi-chart-bubble"></i>
						<span class="hide-menu">문의하기 관리</span>
					</a>
				</li>
				<th:block th:if="${#authentication.getPrincipal().getLogAuthority() == 'Y' or #strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}">
					<li class="sidebar-item">
						<a aria-expanded="false" class="sidebar-link has-arrow waves-effect waves-dark"
						   href="javascript:void(0)">
							<i class="mdi mdi-receipt"></i>
							<span class="hide-menu">운영 관리</span>
						</a>
						<ul aria-expanded="false" class="collapse first-level">
							<th:block th:if="${#strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}">
								<li class="sidebar-item">
									<a class="sidebar-link" onclick="dtClear();" th:href="@{/userList}" href="/userList">
										<i class="mdi mdi-note-outline"></i>
										<span class="hide-menu">관리자 관리</span>
									</a>
								</li>
							</th:block>
							<li class="sidebar-item">
								<a class="sidebar-link" onclick="dtClear();" th:href="@{/subsidiaryList}"  href="/subsidiaryList">
									<i class="mdi mdi-note-plus"></i>
									<span class="hide-menu">계열사 사이트 관리</span>
								</a>
							</li>
							<li class="sidebar-item">
								<a class="sidebar-link" onclick="dtClear();" th:href="@{/prbinfoList}" href="/prbinfoList">
									<i class="mdi mdi-note-plus"></i>
									<span class="hide-menu">개인정보처리방침 관리</span>
								</a>
							</li>
							<th:block th:if="${#authentication.getPrincipal().getLogAuthority() == 'Y' or #strings.equals(#authentication.getPrincipal().getAuthorities()[0], 'ROLE_ADMIN')}">
								<li class="sidebar-item">
									<a class="sidebar-link" onclick="dtClear();" th:href="@{/grantHistory}" href="/grantHistory">
										<i class="mdi mdi-note-plus"></i>
										<span class="hide-menu">권한부여 로그 관리</span>
									</a>
								</li>
								<li class="sidebar-item">
									<a class="sidebar-link" onclick="dtClear();" th:href="@{/jobHistory}" href="/jobHistory">
										<i class="mdi mdi-note-plus"></i>
										<span class="hide-menu">작업로그 관리</span>
									</a>
								</li>
							</th:block>
						</ul>
					</li>
				</th:block>


			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>


</html>

