<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
      <title></title>
    <link href="/error/css/style.css" rel="stylesheet" />
       <meta name="viewport" content="width=device-width, user-scalable=no">
        <style>
        </style>
  </head>
  <body>
    <div class="bg">
      <div class="container">


        <div class="error_img_etc"></div>


        <div class="txt_wrap">

          <div id="header">
            <h2 style="padding-top:15px; line-height:45px; ">서비스 이용이 원활하지 않습니다.<h2>
            <h2>불편을 드려 죄송합니다!</h2>
          </div>

          <div class="content">
            <p>서버 과부하  및 기술적인 문제로 인해 서버 응답이 지연되고 있습니다. </p>
            <p>잠시 후 다시 이용해 주시기 바랍니다.</p>

              <p class="last_ment">관련 문의사항은 고객센터로 알려주시면 친절하게 안내해 드리겠습니다.</p>

            <a class="btn" href="/">홈으로</a>
          </div>

        </div>


        <div class="footer_wrap">
          <div id="footer">
            <p></p>
          </div>
        </div>


    </div>
  </div>

  </body>
</html>
